

body {
  font-family: YuGothic;
  min-width: 1080px;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, p {
  margin: 0;
}

header {
  background-color: #333333;
  padding-top: 20px;
  a {
    color: #ffffff;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
    &__title {
      font-family: Yu Gothic;
      color: #ffffff;
      height: 50px;
      font-size: 50px;
    }
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    &__content {
      flex-grow: 1;
      position: relative;
      padding: 5px 0;
      margin-bottom: 5px;
      a {
        display: flex;
        justify-content: center;
        width: 100%;
        span {
          padding: 8.5px 0;
          text-align: center;
          font-size: 15px;
          border-radius: 3px;
          transition-duration: 0.2s;
          width: 320px;
        }
        &:hover {
          span {
            background-color: #868686;
            color: #ffffff;
            transition-duration: 0.2s;
          }
        }
      }
    }
    &__content::after {
      @media (min-width: 680px) {
        content: '';
        position: absolute;
        right: 0;
        top: 9px;
        bottom: 9px;
        border-right: 1px solid #ffffff;
      }
    }
    &__content:first-child::before {
      @media (min-width: 680px) {
        content: '';
        position: absolute;
        left: 0;
        top: 9px;
        bottom: 9px;
        border-right: 1px solid #ffffff;
      }
    }
  }
}

.header__responsive__top {
  display: none;
}

.headerFix {
  @media (min-width: 680px) {
    position: fixed;
    top: -81px;
    width: 100%;
    z-index: 10;
  }
}

.index__marginAdd {
  @media (min-width: 680px) {
    margin-top: 135px;  
  }
}

.section__title {
  font-size: 22px;
    margin-bottom: 40px;
    color: #ffffff;
    &::before, &::after {
      content: '・・・・・・・・・・・・・・・・・・';
      font-size: 15px;
      letter-spacing: -4px;
      color: #ffffff;
      margin: 0 40px;
    }
}

.index__slider {
  background-color: #202020;
  padding-top: 20px;
  overflow: hidden;
  .index__slider__main {
    margin: 0 auto;
    width: 700px;
    .swiper-container {
      width: 100%;
      overflow: visible;
      z-index: 1;
      .swiper-wrapper {
        .swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          filter: brightness(70%);
          .swiper-content {
            width: 480px;
            img {
              width: 480px;
              height: 480px;
              border-radius: 10px;
              margin-bottom: 10px;
            }
            h2 {
              color: #ffffff;
              width: 100%;
              text-align: center;
            }
          }
        }
        .swiper-slide-active {
          filter: brightness(100%);
        }
      }
    }
  }
}

.swiper-button-prev {
  color: #ffffff;
  background-color: #333333;
  border: solid 5px rgba($color: #ffffff, $alpha: 0.8);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 231px;
  left: 0;
  background-clip: padding-box;
  &:after {
    font-size: 16px;
  }
}
.swiper-button-next {
  color: #ffffff;
  background-color: #333333;
  border: solid 5px rgba($color: #ffffff, $alpha: 0.8);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 231px;
  right: 0;
  background-clip: padding-box;
  &:after {
    font-size: 16px;
  }
}

.genreSection {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 90px 0;
  &__contents {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    &__store {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 620px;
      a {
        width: 50px;
        transition-duration: 0.2s;
        width: 125px;
        border: solid 5px #DBDBDB;
        border-radius: 28px;
        margin: 0px 10px 20px;
        padding: 15px;
        display: flex;
        justify-content: center;
      }
      a:hover {
        transition-duration: 0.3s;
        i {
          left: -13px;
        }
      }
      p {
        color: #ffffff;
        font-size: 14px;
        position: relative;
        display: inline;
        i {
          position: absolute;
          left: -15px;
          top: 0.5px;
          color: #ffffff;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-color: #ffffff;
          -webkit-text-stroke-width: 1px;
          transition-duration: 0.2s;
        }
      }
    }
    &__recruit {
      border-radius: 5px;
      box-shadow: 0px 1px 2px rgba($color: #000000, $alpha: 0.2);
      height: 160px;
      img {
        width: 332px;
        max-width: 100%;
      }
    }
  }
  &__listBtn {
    background-color: #3E5FAA;
    color: #ffffff;
    font-size: 14px;
    padding: 12.5px 0px;
    width: 332px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    transition-duration: 0.2s;
    i {
      position: absolute;
      top: 14px;
      right: 10px;
      transition-duration: 0.2s;
    }
    &:hover {
      background-color: #657fbb;
      i {
        right: 8px;
      }
    }
  }
}

.typeSection {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 90px 0;
  &__contents {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    &__store {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 620px;
      a {
        width: 50px;
        transition-duration: 0.2s;
        width: 125px;
        border: solid 5px #DBDBDB;
        border-radius: 28px;
        margin: 0px 10px 20px;
        padding: 15px;
        display: flex;
        justify-content: center;
      }
      a:hover {
        transition-duration: 0.3s;
        i {
          left: -13px;
        }
      }
      p {
        color: #ffffff;
        font-size: 14px;
        position: relative;
        display: inline;
        letter-spacing: -0.5px;
        i {
          position: absolute;
          left: -15px;
          top: 0.5px;
          color: #ffffff;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-color: #ffffff;
          -webkit-text-stroke-width: 1px;
          transition-duration: 0.2s;
        }
      }
    }
  }
}

.event__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__copy {
    font-size: 22px;
    position: absolute;
    top: 20px;
  }
}